body{
    font-family: var(--font-family);
}

button {
    display: inline-flex;
    border: none;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 10px;
    background: linear-gradient(180deg, #6365F1 0%, #4575DC 100%);
    transition: transform 0.3s;
}

button:hover{
    transform: scale(1.1);
}



span {
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}
